.main {
    width: 80%;
    background-color: red;
    margin: 0 auto;
}

.rectangle1 {
    background: blue;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.rectangle2 {

}

.text {
    transform: translate(-50%);
}